table {
  width: 100%;
}


th.name {
  width: 60%;
}

table {
  border-spacing: 2.3rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
