<h3 *ngIf="itemsService.items && itemsService.items.length == 0">No Items</h3>
<p *ngIf="itemsService.items && itemsService.items.length == 0">Grocery list is empty, please add some items first.</p>

<table *ngIf="itemsService.items && itemsService.items.length > 0">
  <tr>
    <th>
    <th class="text-left name">Name</th>
    <th class="text-center">Need</th>
    <th class="text-right">Aisle</th>
  </tr>
  <tr *ngFor='let item of itemsService.items'>
    <!-- Controls -->
    <td *ngIf='(item.inventory - item.quantity) > 0'><button md-mini-fab (click)="gotItem(item)"><md-icon>check</md-icon></button></td>
    <td *ngIf='(item.inventory - item.quantity) < 1'></td>

    <!-- Name -->
    <td>{{item.name}}</td>

    <!-- Needed -->
    <td class="text-center">{{item.inventory - item.quantity}}</td>

    <!-- Aisle -->
    <td *ngIf='item.aisle' class="text-right">{{item.aisle}}</td>
    <td *ngIf='!item.aisle' class="text-right"></td>

  </tr>
</table>
