<h3 *ngIf="itemsService.shoppingItems && itemsService.shoppingItems.length == 0">All Stocked Up</h3>
<p *ngIf="itemsService.shoppingItems && itemsService.shoppingItems.length == 0">Looks like you have everything you need.</p>

<mat-list>
  <mat-list-item *ngFor='let item of itemsService.shoppingItems'>

    <button mat-button (click)="gotItem(item)" *ngIf='(item.inventory - item.quantity) > 0'>
      <mat-icon>check</mat-icon>
    </button>
    <p matLine *ngIf='(item.inventory - item.quantity) > 0'>
      {{item.inventory - item.quantity}} <b>{{item.name}}</b>
    </p>
    <p matLine *ngIf='(item.inventory - item.quantity) > 0 && item.aisle'>
       &nbsp; &nbsp; on aisle <b>{{item.aisle}}</b>
    </p>
    <p matLine *ngIf='(item.inventory - item.quantity) < 1'>
      <b>{{item.name}}</b><br>You don't need this item.
    </p>

  </mat-list-item>
</mat-list>
