<h3 *ngIf="itemsService.items && itemsService.items.length == 0">Add an item</h3>

<mat-list>
  <mat-list-item *ngFor='let item of itemsService.items'>
    <button mat-icon-button (click)="editItemDialog(item)">
      <mat-icon>mode_edit</mat-icon>
    </button>
    <h3 matLine> {{item.name}} </h3>
    <p matLine>
      <span> Desired stock </span>
      <span> {{item.inventory}} </span>
    </p>
  </mat-list-item>
</mat-list>

<form  mat-line #f="ngForm" (ngSubmit)="newItem(f)">
  <p>
    <mat-input-container class="full-width">
      <input matInput  mat-line placeholder="What do you want?" name="name" ngModel required autocomplete="off">
    </mat-input-container>
  </p>
  <p>
    <mat-input-container class="full-width">
      <input matInput mat-line placeholder="How many do you need?" type="number" value='1' name="inventory" ngModel required autocomplete="off">
    </mat-input-container>
  </p>
  <button mat-button>Submit</button><br>
</form>
