md-list-item {
  border-bottom: 1px solid rgba(0,0,0,.12);
}

app-items {
  width: 100%
}

.bottomInput {
  margin-top: 12px;
}

.itemName {
  width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 49%;
}

button {
  float: right;
}


table {
  width: 100%;
}

th {
  text-align: left;
}

th.name {
  width: 50%;
}

table {
  border-spacing: 2.3rem;
}
