<h3 *ngIf="itemsService.items && itemsService.items.length == 0">Add an item</h3>

<mat-list>
  <mat-list-item *ngFor='let item of itemsService.items'>
    <button mat-icon-button (click)="editItemDialog(item)">
      <mat-icon>mode_edit</mat-icon>
    </button>
    <h3 matLine> {{item.name}} </h3>
    <p matLine>
      <span> Desired stock </span>
      <span> {{item.inventory}} </span>
    </p>
  </mat-list-item>
</mat-list>

<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <mat-form-field>
        <input name="name" formControlName="name" placeholder="What do you want?" matInput ngModel required autocomplete="off">
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="autoSelect('mat-input-1')">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <input name="quantity" formControlName="quantity" placeholder="How many do you have?" type="number" matInput mat-line ngModel
          required autocomplete="off">
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <mat-form-field>
        <input name="inventory" formControlName="inventory" placeholder="How many do you want?" type="number" matInput mat-line ngModel
          required autocomplete="off">
      </mat-form-field>
      <div>
        <button mat-button (click)="submitNewItem(stepper)">Done</button>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
