<div  *ngIf="!authService.isAuthenticated">
  <h2>Sign up for a FREE acount.</h2>

  <label *ngIf="error" class="alert alert-danger">{{error}}</label>

  <form #f="ngForm" (ngSubmit)="register(f)">

    <mat-input-container style="width: 100%">
      <input matInput placeholder="Email..." name="email" ngModel required>
    </mat-input-container><br>

    <mat-input-container style="width: 100%">
      <input matInput type="password" placeholder="Password..." name="password" ngModel required>
    </mat-input-container><br>

    <button mat-raised-button>Register</button>

  </form>
</div>

<div  *ngIf="authService.isAuthenticated">
  <h2>Welcome Back</h2>
  <button mat-raised-button routerLink="lists" style="float: right">View your lists <mat-icon>keyboard_arrow_right</mat-icon></button>
</div>
