<mat-sidenav-container>
  <mat-sidenav #sidenav>

    <mat-list>
      <span class="title">{{title}}</span>
      <a mat-list-item routerLink="/login" *ngIf="!authService.isAuthenticated">Login</a>
      <a mat-list-item routerLink="/register" *ngIf="!authService.isAuthenticated">Register</a>
      <sidebar-lists *ngIf="authService.isAuthenticated"></sidebar-lists>
      <hr>
      <a mat-list-item *ngIf="authService.isAuthenticated" (click)="authService.logout()">Logout</a>
    </mat-list>

  </mat-sidenav>
  <div class="sidenav-content">

    <mat-toolbar>
      <mat-icon id="mainMenu" (click)="sidenav.open()">menu</mat-icon>

      <a routerLink="" *ngIf="!authService.isAuthenticated">{{title}}</a>
      <a routerLink="/lists" *ngIf="authService.isAuthenticated">{{title}}</a>

      <div style="margin-left: auto; padding-right: 15px;" *ngIf="!authService.isAuthenticated">
        <a routerLink="/login">Login</a> / <a routerLink="/register"><b>Register</b></a>
      </div>
    </mat-toolbar>

    <div class="page-container"><router-outlet></router-outlet></div>

    <app-footer></app-footer>

  </div>
</mat-sidenav-container>
