.sidenav {
  padding: 20px;
}

#mainMenu {
  margin-right: 20px;
  cursor: pointer;
}

mat-toolbar {
  background-color: #3f51b5;
  color: white;
}

mat-toolbar a {
  color:white;
  text-decoration: none;
}

mat-toolbar {
  background-color: #59bd13 !important;
}

mat-sidenav {
  min-width: 256px !important;
}

mat-sidenav a {
  text-decoration: none;
}
