<h2>Login</h2>

<label *ngIf="error" class="alert alert-danger">{{error}}</label>

<form #f="ngForm" (ngSubmit)="login(f)" novalidate>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" name="email" id="email" ngModel required>
    <label class="mdl-textfield__label" for="email">Email...</label>
  </div><br>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="password" name="password" id="password" ngModel required>
    <label class="mdl-textfield__label" for="password">Password...</label>
  </div><br>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Login</button>
  <button type=button routerLink="/register" class="mdl-button mdl-js-button mdl-js-ripple-effect">Register</button>

</form>
