@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body, material-app, mat-sidenav-container, .sidenav-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.page-container {
  min-height: 100%;
}

.contentWrapper {
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  padding: 0 15px 8px 15px;
  margin: 10px;
}
@media only screen and (min-width: 768px) {
    .contentWrapper {
      width: 33%;
      margin-left: 33%;
    }
}

.title {
  line-height: 64px;
  padding-left: 40px;
  min-width: 256px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
}


mat-tab-body, .mat-tab-body-content {
  overflow-y: hidden !important;
}
mat-tab-header {
  margin-left: -15px;
  margin-right: -15px;
}

.mat-mini-fab.mat-accent {
  background-color: #59bd13;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #59bd13;
}

/* Stepper stuff */
.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent;
}

.mat-horizontal-content-container {
  padding: 24px !important;
}

.mat-horizontal-stepper-header-container {
    display: none !important;
}

.mat-list-item {
  text-decoration: none;
}
