<div class="contentWrapper">
  <h2 *ngIf="listsService.lists && listsService.lists.length > 0">Lists</h2>
  <h3 *ngIf="listsService.lists && listsService.lists.length == 0">Create your first list.</h3>
  <p *ngIf="listsService.lists && listsService.lists.length == 0">Shopping lists should correlate to a store such as Walmart or Costco.</p>

  <mat-list>
   <mat-list-item *ngFor='let list of listsService.lists' routerLink="/lists/{{list.id}}">
     <h4 mat-line>{{list.name}}</h4>
     <p mat-line> {{list.description}} </p>
     <p mat-line *ngIf="!list.description">No description</p>
   </mat-list-item>
  </mat-list>

  <form #f="ngForm" (ngSubmit)="newList(f)" novalidate>
    <mat-form-field>
      <input matInput placeholder="Store Name..." name="name" id="name" ngModel required>
    </mat-form-field>
    <button mat-raised-button>Create</button>
  </form>
</div>
