<div class="contentWrapper">
  <h2 *ngIf="listsService.lists && listsService.lists.length > 0">Lists</h2>
  <h3 *ngIf="listsService.lists && listsService.lists.length == 0">Create your first list.</h3>

  <md-list>
   <md-list-item *ngFor='let list of listsService.lists' routerLink="/lists/{{list._id}}">
     <h4 md-line>{{list.name}}</h4>
     <p md-line> {{list.description}} </p>
     <p md-line *ngIf="!list.description">No description</p>
   </md-list-item>
  </md-list>

  <form #f="ngForm" (ngSubmit)="newList(f)" novalidate>
    <md-input-container>
      <input mdInput placeholder="List Name..." name="name" id="name" ngModel required>
    </md-input-container>
    <button md-button>Create</button>
  </form>
</div>
