<div class="contentWrapper">
  <h2>Register</h2>

  <label *ngIf="error" class="alert alert-danger">{{error}}</label>

  <form #f="ngForm" (ngSubmit)="register(f)" novalidate>

    <mat-form-field>
      <input matInput placeholder="Email..." name="email" ngModel required>
    </mat-form-field><br>

    <mat-form-field>
      <input matInput type="password" placeholder="Password..." name="password" ngModel required>
    </mat-form-field><br>

    <button mat-raised-button>Register</button>
    <button mat-button type=button routerLink="/login">Login</button>

  </form>
</div>
